.loader3 {
  border: 16px solid #bdc3c7;
  width: 5em;
  height: 5em;
  border-top-color: #1abc9c;
  border-bottom-color: #3498db;
  border-radius: 50%;
  animation: coloredspin linear 3s infinite;
  -webkit-box-shadow: 10px 13px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 13px 25px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 13px 25px 0px rgba(0, 0, 0, 0.75);
}
@media (min-width: 544px) {
  .loader3 {
    width: 6em;
    height: 6em;
  }
  /* margin-top: 2.1%; */
  /*1rem = 16px*/
}
@media (min-width: 768px) {
  .loader3 {
    width: 7em;
    height: 7em;
  } /*1rem = 16px*/
}
@media (min-width: 992px) {
  .loader3 {
    width: 7.5em;
    height: 7.5em;
  } /*1rem = 16px*/
}
@media (min-width: 1200px) {
  .loader3 {
    width: 8em;
    height: 8em;
  } /*1rem = 16px*/
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes coloredspin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    border-top-color: red;
    border-bottom-color: yellow;
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
